.maincomponentsDiv{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.container{
    display: flex;
    flex-direction: column;    
    max-width: 500px;
    height: 600px;
    border-radius: 30px;
    border: 1px solid #ebe8e8;
 }
 .container p{
    padding-left: 4%;
 }
 .subtittle{
   font-size: 20px;
 }
 .container p:nth-last-of-type(2){
   font-size: 25px;
   margin-top: -20px;
   margin-bottom: -6px;
 }
 .container ul{
   margin-top: -2px;
   margin-bottom: 60px;
 }
   .container button{
    background-color: #66DC99;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #66DC99;
    width: 35%;
    font-size: 17px;
    color: #002D2B;
    margin-left: 4%;
 }

 
