.logoMainDiv{
    display: flex;
    justify-content: space-between;
}
.listDiv ul{
    display: flex;
    gap: 20px;
    background-color: #00000012;
    padding: 8px;

}
.listDiv ul li{
    list-style-type: none; 
    font-size: 20px;
}
.listDiv ul li img{
    width: 40px;
    height: 30px;
}
/* .listDiv ul li:hover{
 
} */
.logoDiv{
    display: flex;
    gap: 10px;

}
.logo-img{
    height: 50px;
}
.logoDiv p{
    font-size: 35px;
    margin-top: 6px;
}
.logoPara p{
    background-color: #66DC99;
    padding: 16px;
    border-radius: 30px;
}