.logoMainDiv {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.listDiv ul {
    display: flex;
    gap: 20px;
    background-color: #00000012;
    padding: 8px 8px 8px 15px;
    border-radius: 7px;


}

.listDiv ul li {
    list-style-type: none;
    font-size: 25px;
    color: #252525;
}

.listDiv ul li img {
    width: 40px;
    height: 30px;
}

.bsGlobe {
    background-color: #CBCAC9;
    height: 30px;
    padding-top: 5px;
    padding: 5px;
}

.logoDiv {
    display: flex;
    gap: 5px;

}

.logo-img {
    height: 50px;
    margin-top: 4%;
}

.logoDiv p {
    font-size: 35px;
    margin-top: 6%;
}

.logoPara p {
    background-color: #66DC99;
    padding: 16px;
    border-radius: 30px;
}